<div class="wrapper">
  <h2>Recovery password</h2>
  <form action="/api/sessions/recovery-passwords/{{token}}" method="POST">
    <div class="input-box"><input
        type="password"
        name="password"
        placeholder="Password"
        required
      /></div>
    <div class="input-box button">
      <input type="Submit" value="Submit" />
    </div>
  </form>
  <link rel="stylesheet" href="/css/recovery-password.css" />
</div>